<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 Cristiano Cinotti
  ~
  ~ This file is part of siad-pdf-compressor package.
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  ~
  ~ @license Apache-2.0
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Siad Pdf Compressor Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
